@import "../../../styles/scss/variables";

.warning-icon {
  color: $coral-red;
  font-size: 25px;
}

// Close Button
.close-button-icon {
  font-size: 24px;
  line-height: 1;
  border: 0;
  padding: 0;
  background: transparent;
  color: $black;
  &:hover,
  &:focus,
  &:disabled {
    background: transparent;
    transform: rotate(90deg);
    color: $black;
  }
  &-inverted {
    color: $white;
    &:hover,
    &:focus,
    &:disabled {
      background: transparent;
      color: $white;
    }
  }
}
// Arrow Back Button
.arrow-back-button-icon {
  font-size: 24px;
  line-height: 1;
  border: 0;
  padding: 0;
  background: transparent;
  color: $black;
  &:hover,
  &:focus,
  &:disabled {
    background: transparent;
    color: $black;
  }

  &-inverted {
    color: $white;
    &:hover,
    &:focus,
    &:disabled {
      background: transparent;
      color: $white;
    }
  }
}

// Menu icon

.menu-icon {
  padding: 8px;
}
